<% @pagetitle = "Home" %>
<!-- index -->

<div id="simple-search-box" class="span-24 last">
   <%= render :partial => "shared/search_box" %>
</div>


<div id="front-page-content" class="span-24 content-front last">
   <span class="alt">Front Page Content</span>
</div>







