<% @pagetitle = @document.name %>
<div class="new-document">
  <h3>
    Edit  Document >> <%= @document.name %>
  </h3>
  <div class="doc-attribute-items">
    <% form_for @document, :html=>{ :multipart => true}  do |f| %>
      <%= render :partial => 'form', :locals => {:f => f}  %>

    <p class="submit">
      <%= f.submit "Submit" %>
    <D/p>
  <% end %>
</div>

</div>

